.App {
  text-align: center;
  margin: 50px;
  max-width: 800px;
}

.App img {
  width: 50px ;
  padding-bottom: 10px;
}

.description{
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
}

.celebrity {
  display: flex;
  justify-content: space-around;
}
.buttons {
  display: flex;
}